.head{
    background-image: url("../images/h_img.jpg");
    background-size: cover;
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.logo{
    width: 55px;
    padding-bottom: 20px;
}
.text{
    padding-top: 250px;
    padding-bottom: 180px;
    color: aliceblue;
    text-align: center;
}
h1{
    font-size: 35px;
}
h2{
    font-size: 10px;
    padding-top: 0px;
}